* {
    font-family: 'Cormorant Garamond', serif;
}

.jumbotron {
    background-color: darkslategray;
    height: 300px;
    color: whitesmoke
}

#navbar {
    height: 150px;
    background-color: #212529;
}

#articles {
    background-color: dimgray;
}

.btn {
    background-color: floralwhite;
}

a {
    color: gray;
}

h1 {
    font-size: 75px;
}

.nav-link {
    font-size: 20px;
}

.navbar-brand {
    font-size: 30px;
}

.save-btn, 
#note-btn,
#deletearticle,
#view-btn {
    color: gray;
}